{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
 <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Team Members</h1>
                    <a href="" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="" class="h5 text-white">Team Members</a>
                </div>
            </div>
        </div>
    

    <!-- Vendor Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="{% static '' %}img/vendor-1.jpg" alt="">
                    <img src="{% static '' %}img/vendor-2.jpg" alt="">
                    <img src="{% static '' %}img/vendor-3.jpg" alt="">
                    <img src="{% static '' %}img/vendor-4.jpg" alt="">
                    <img src="{% static '' %}img/vendor-5.jpg" alt="">
                    <img src="{% static '' %}img/vendor-6.jpg" alt="">
                    <img src="{% static '' %}img/vendor-7.jpg" alt="">
                    <img src="{% static '' %}img/vendor-8.jpg" alt="">
                    <img src="{% static '' %}img/vendor-9.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    
 {% endblock %}